.sersf .sersf-filter li {
    line-height: 1em;
    list-style: none;
    margin-left: 10px;
    margin-bottom: 3px;
}

.sersf-filter ul {
    margin-top: 2px;
    margin-bottom: 10px;
}

.sersf-filter li * {
    margin: 0;
}

.sersf-search,
.sersf-sort {
    margin-bottom: 10px;
}

.sersf-section {
    max-width: 250px;
    float: left;
}

.clearfix:after {
    clear: both;
}

@media (min-width: 767px) {
    .sersf-mobile {
        display: none;
    }
}

@media (max-width: 767px) {
    .sersf-desktop {
        display: none;
    }
}